<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        {{!-- here mx-auto for giving space from both side --}}
        <div class="col-md-10 col-12 mx-auto">
            <h1 class=" text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading"> grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                           <div class="icon">
                               <img src="https://i.imgur.com/6NKPrhO.png" alt="images not availabe here ">
                           </div>
                               <h4>settings</h4>
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque perspiciatis atque? Iure numquam sed voluptate deserunt repellendus rem nemo, blanditiis qui, laudantium dolorum aperiam aspernatur et eaque sit excepturi.</p>
                           
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="box ">
                        <div class="our-services backups">
                           <div class="icon ">
                               <img src="https://i.imgur.com/6NKPrhO.png" alt="images not availabe here ">
                           </div>
                               <h4>settings</h4>
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque perspiciatis atque? Iure numquam sed voluptate deserunt repellendus rem nemo, blanditiis qui, laudantium dolorum aperiam aspernatur et eaque sit excepturi.</p>
                           
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                           <div class="icon">
                               <img src="https://i.imgur.com/6NKPrhO.png" alt="images not availabe here ">
                           </div>
                               <h4>settings</h4>
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque perspiciatis atque? Iure numquam sed voluptate deserunt repellendus rem nemo, blanditiis qui, laudantium dolorum aperiam aspernatur et eaque sit excepturi.</p>
                           
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                           <div class="icon">
                               <img src="https://i.imgur.com/6NKPrhO.png" alt="images not availabe here ">
                           </div>
                               <h4>settings</h4>
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque perspiciatis atque? Iure numquam sed voluptate deserunt repellendus rem nemo, blanditiis qui, laudantium dolorum aperiam aspernatur et eaque sit excepturi.</p>
                           
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy ">
                           <div class="icon">
                               <img src="https://i.imgur.com/6NKPrhO.png" alt="images not availabe here ">
                           </div>
                               <h4>settings</h4>
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque perspiciatis atque? Iure numquam sed voluptate deserunt repellendus rem nemo, blanditiis qui, laudantium dolorum aperiam aspernatur et eaque sit excepturi.</p>
                           
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl ">
                           <div class="icon">
                               <img src="https://i.imgur.com/6NKPrhO.png" alt="images not availabe here ">
                           </div>
                               <h4>settings</h4>
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque perspiciatis atque? Iure numquam sed voluptate deserunt repellendus rem nemo, blanditiis qui, laudantium dolorum aperiam aspernatur et eaque sit excepturi.</p>
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>