<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <h1> hi this is raushan kumar presenting here and how are you guys</h1>
    <button  class="btn btn-success">Contact us</button>
    <script src="../jq/jquery.js" type= "text/javascript"></script>
    <script src="../jq/bootstrap.js" type= "text/javascript"></script>
</body>
</html>